@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

/* header sections */

header {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 34vmax;
}

/* header > logo nav */

ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.logonav-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding: 24px 0;

}

.logo {
    font-size: 24px;
    font-weight: 900;
}

ul li:nth-child(3) a {
    color: rgb(53, 168, 53);
    font-weight: 600;
}

/* header > hero */

.hero-container {
    display: flex;
    width: 70%;
    gap: 54px;
}

.hero-box {
    flex: 1;
}

.hero-box-1 {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 16px;
}

.hero-box-1 h1{
    font-size: 48px;
    font-weight: 900;
}

.hero-box-1 p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-box-1 button {
    align-self: flex-start;
    padding: 14px 34px;
    background-color: #3882f6;
    font-size: 18px;
    border: 0;
    border-radius: 5px;
    color: #f9faf8;
    font-weight: 600;
}

.hero-box-2 {
    display: flex;
    align-items: center;
    padding: 32px 0;
}

.hero-box-2 img {
    max-width: 100%;
}

/* header section end */

/* main section start */

/* main section 1 of 3 */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section-1 {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 60%;
    margin: 48px 48px 92px 48px;
}

.main-section-1 h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 0 0 48px 0;
}

.cards-box {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}

.cards {
    display: flex;
    flex-direction: column;
    flex-basis: 150px;
    justify-content: center;
}

.card-imgs {
    /* border: 3px solid blue; */
    width: 200px;
    height: 200px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main section 2 of 3 */

.main-section-2 {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.main-section-2-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.main-section-2-container h1 {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: 300;
}

.main-section-2-container h2 {
    align-self: flex-end;
}

/* main section 3 of 3 */

.main-section-3 {
    display: flex;
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.cta-container {
    background: #3882f6;
    display: flex;
    width: 70%;
    border-radius: 8px;
    padding: 48px 186px;
    justify-content: space-between;
    align-items: center;
}

.cta-text-container {
    width: 70%;
}

.cta-text-container h1 {
    color: #fff;
}

.cta-text-container p {
    font-size: 18px;
    color: #e5e7eb;
}

.cta-button {
    border: 2px solid white;
    border-radius: 10px;
    background: none;
    padding: 14px 50px;
    color: #fff;
    font-size: 24px;
    font-weight: 900;
}

/* main section end */

/* footer */

footer {
    border: 1px solid black;
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: #1f2937;
    color: #fff;
}